:root{
--primary-colorlinks:#ee0000/#ffffff;
--secondary-color:#e0b354;
--textcolor: black;
--dark-grey:#2b2b2b;
--mainfontfamily:"Roboto Condensed", sans-serif;
--maintxtcolor:brown;
--buttoncolor:rgb(236, 148, 236);
--backgroundpagecolor:	#FFF0F5;

}


body {
    font-family: var(--mainfontfamily);
    font-weight: 400;
    font-size: 16px;
    background-color:var(--backgroundpagecolor) ;
}
head{
    font-size: 16px;
    font-family: var(--mainfontfamily);
    color: var(--textcolor);
}
.site-header{
    display: flex;
    justify-content: left;
}
.items__header{
    display: flex;
    align-items: center;
    justify-content: left;
}
.list-about{
    text-align:left;
    list-style: none;
}
p{
    text-align: center;
}


a {
    color:var(--primary-colorlinks);
}

a:visited {
    color:var(--primary-colorlinks) ;
}
a:hover , a:focus {
    text-decoration: underline;
}
a:active{
    color:var(--primary-colorlinks) ;
}

 .button3{
    display: block;
    margin: auto;
    width: 15%;
padding: 10px;
font-size: 16px;
border: none;
cursor: pointer;
text-align: center;
color:var(--buttoncolor);
 }

.button:hover , button:focus {
    cursor: pointer;
    opacity: 0.8;
}
 .button__secondary{
    color:var(--textcolor);
    background-color:var(--secondary-color);
}
.button3:hover{
    background-color:#ffffff;
    font-size: larger;
}
.naviagtion--list{
    list-style-type: none;
}
.naviagtion--list li{
    display: inline-block;
    margin-left: 15px;
}
.naviagtion--list__item--active{
    text-decoration: aqua;
    font-family:var(--mainfontfamily);
    color: var(--textcolor);
    cursor: pointer;
    display: flex;
    justify-content:flex-end;
    
}
.main-navigation{
    justify-content: flex-end;
}
.index-container{
    width: 900px; 
margin: 0px auto 0px auto; 
display:grid;
justify-content:center;

}

form{
    background-color: lab(lightness a b);
    font-family:var(--mainfontfamily) 
}
.contact-us{
    height: 100px;
    display:inline-block;
    position:static;
    align-items: center;
    justify-content: space-evenly;
}
.standard-label{
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    color: #666;
    border-radius: 50px;
}
.standard-label:focus{
    border: 2px solid #ff994f;
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color:var(--mainfontfamily);
    font-size: large;
}
h2{
    color: var(--mainfontfamily);
    font-family: var(--mainfontfamily);
    font-size: medium;
}
P{
    font-size: small;
font-family:var(--mainfontfamily);
text-align:center;
}

thead{
    font-family:var(--mainfontfamily);
    gap: 10px;
    background-color: green;
            Color: white;
            border: 1px solid black;
            padding: 5px
}
tbody{
    border: 1px solid black;
    padding: 5px
}

.page-footer{
font-family: Arial, Helvetica, sans-serif;
color: var(--mainfontfamily);
clear: both;
display: flex;
text-align:center;
flex-direction: column;
 justify-content: center;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.profile__portrait{
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.profile{
    max-width: 700px;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}

.page-header__item{
 flex: 0 1 200;
}
.page-header__item:last-child{
    flex-grow: 1;
    text-align: right;
}
section{
    display: inline-block;
}

#grid-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    padding: 10px;
    column-gap: 100px 
}
.grid-item{ 
    display:inline-block;
    background-color:lightseagreen;
    border: 10px;
    padding:20px;
    width: auto;
    transition: trasnform 0.4 ease;
    cursor: pointer;
}
#grid-container,h1{
    font-size: medium;
    text-align: center;
    color:var(--textcolor);
}
.grid-item:hover{
    transform: scale(1.05);
}
@media all and (max-width:480px) {
#grid-container {
    grid-template-columns:repeat(2,1fr);
    gap: 1%;
}
.grid-item:last-child{
    grid-column: auto;
    grid-row: auto;
}
}
@media all and (min-width: 481px) and (max-width:768px){
    #grid-container{
        grid-template-columns:repeat(2,1fr);
        gap: 5%;
       font-family: 'Courier New', Courier, monospace;
    }
    .grid-item:last-child{
      grid-row: auto;
      grid-column: auto;
}
}
@media all and (min-width:769px) and (max-width: 1200px){
    #grid-container{
    grid-template-columns:repeat(2,1fr);
    gap: 5%;
}
.grid-item:last-child{
    grid-row: auto;
    grid-column: auto;
}
  h1{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}
} 
@media all and (min-width:1200px){
    #grid-container{
        grid-template-columns: repeat(2,1fr);
        gap: 5%;
    }
    .grid-item:last-child{
        grid-row: auto;
        grid-column: auto;
    }
    #grid-container,h1{
        font-size: larger;
        font-family: var(--mainfontfamily);
    }
}

#about-picture{
    text-align: center;
}